
<div class="row">
  <div class="col-xs-6">
    <div class="form-group">
      <label>Origin</label>
      <input type="text" class="form-control" v-model="load.origin" placeholder="Origin" v-if="!showMode" />
      <div class="form-control"  v-else>{{load.origin}}</div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="form-group">
      <label>PickUp Date</label>
      <input type="text" class="form-control" v-model="load.pick_up_at"  id="pick_up_at" v-if="!showMode"/>
      <div class="form-control"  v-else>{{load.pick_up_at}}</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="form-group">
      <label>Destination</label>
      <input type="text" class="form-control" v-model="load.destination" placeholder="Destination" v-if="!showMode"/>
      <div class="form-control"  v-else>{{load.destination}}</div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="form-group">
      <label>Delivery Date</label>
      <input type="text" class="form-control" v-model="load.delivery_at" id="delivery_at" v-if="!showMode"/>
      <div class="form-control" v-else>{{load.delivery_at}}</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label>Equipment</label>
      <select  class="form-control" v-model="load.equipment_type" v-if="!showMode">
        <option v-for="option in equipment_types" :value="option.value">{{option.key}}</option>
      </select>
      <div class="form-control" v-else>{{load.equipment_type}}</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label>Full/Partial</label>
      <select  class="form-control" v-model="load.load_type" v-if="!showMode">
        <option v-for="option in load_types" :value="option.value">{{option.key}}</option>
      </select>
      <div class="form-control" v-else>{{load.load_type}}</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label>Weight</label>
      <div class="input-group" v-if="!showMode">
        <input type="text" class="form-control" v-model="load.weight"/>
        <div class="input-group-addon" >
          <select  v-model="load.weight_type" >
            <option v-for="option in weight_types" :value="option.value">{{option.key}}</option>
          </select>
        </div>
      </div>
      <div class="form-control" v-else>{{load.weight + load.weight_type}}</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label>Price</label>
      <div class="input-group" v-if="!showMode">
        <input type="text" class="form-control" v-model="load.price" />
        <div class="input-group-addon">
          <select  v-model="load.currency_type">
            <option v-for="option in currency_types" :value="option.value">{{option.key}}</option>
          </select>
        </div>
      </div>
      <div class="form-control" v-else>{{load.price + load.currency_type}}</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label>Phone</label>
      <input type="text" class="form-control" v-model="load.tel" name="load[tel]" v-if="!showMode"/>
      <div class="form-control" v-else>{{load.tel}}</div>
    </div>
  </div>
</div>
<div class="actions">
<button @click="postLoad">Save</button>
</div>
